<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Delete</title>
  </head>
  <body>
    <!-- billing_confirm_delete.html -->

    {% block content %}
    <h2>Are you sure you want to delete this billing record?</h2>
    <form method="post">
      {% csrf_token %}
      <button type="submit">Yes, delete</button>
      <a href="{% url 'billing_list' %}">Cancel</a>
    </form>
    {% endblock %}
  </body>
</html>
