<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if object %}Update{% else %}Create{% endif %} Operation</title>
  </head>
  <body>
    <h2>{% if object %}Update{% else %}Create{% endif %} Operation</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">
        {% if object %}Update{% else %}Create{% endif %} Operation
      </button>
    </form>
    <a href="{% url 'operation_list' %}">Back to Operations List</a>
  </body>
</html>
