<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Operations List</title>
  </head>
  <body>
    <h2>Operations List</h2>
    <ul>
      {% for operation in operations %}
      <li>
        <a href="{% url 'operation_detail' operation.id %}"
          >Operation N° {{operation.id}}</a
        >
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'operation_create' %}">Create New Operation</a>
  </body>
</html>
