<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Deletion</title>
  </head>
  <body>
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete this operation?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit">Confirm</button>
    </form>
    <a href="{% url 'operation_list' %}">Cancel</a>
  </body>
</html>
