<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    <meta charset="UTF-8" />
    <title>Inventory List</title>
  </head>
  <body>
    <h1>Inventory List</h1>
    <ul>
      {% for item in inventory_items %}
      <li>
        {{ item.item_name }} - Quantity: {{ item.quantity }}
        <a href="{% url 'inventory_update' item.pk %}">Edit</a>
        <a href="{% url 'inventory_delete' item.pk %}">Delete</a>
      </li>
      {% empty %}
      <li>No inventory items available.</li>
      {% endfor %}
    </ul>
    <a href="{% url 'inventory_create' %}">Add New Item</a>
  </body>
</html>
