<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor Form</title>
  </head>
  <body>
    {% block content %}
    <h2>{% if object %}Edit{% else %}Add{% endif %} Doctor</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Save</button>
    </form>
    {% endblock %}
  </body>
</html>
