<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Doctor Detail: Dr. {{ doctor.first_name }} {{ doctor.last_name }}
    </title>
  </head>
  <body>
    {% block content %}
    <h2>
      Doctor Detail: Dr. {{ doctor.first_name }} {{ doctor.last_name }}
      ({{doctor.specialization}})
    </h2>
    <p>Email: {{doctor.email_address}}</p>
    <p>Contact number: {{doctor.contact_number}}</p>
    <a href="{% url 'doctor_update' doctor.id %}">Edit Doctor</a>
    <a href="{% url 'doctor_delete' doctor.id %}">Delete</a>
    {% endblock %}
  </body>
</html>
